[submodule "ext_libs/MemOS"]
	path = ext_libs/MemOS
	url = https://github.com/zakdegarmo/MemOS.git
[submodule "MyWebsite"]
	path = MyWebsite
	url = https://github.com/zakdegarmo/Swerver.git
[submodule "utilities/application_verifier"]
	path = utilities/application_verifier
	url = https://github.com/zakdegarmo/MyOS-Application-Verifier.git
[submodule "🝧/3d_ttf"]
	path = 🝧/3d_ttf
	url = https://github.com/zakdegarmo/3d_ttf.git
